.App {
  text-align: center;
}

.App-logo {
    animation-name: App-logo-spin;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: green;
}

.App-link {
  color: #800080;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes mymove {
    0%   {transform: skewX(0deg)}

    100% {transform: skewX(180deg)}
}